html {
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    color: royalblue;
}

.wrap {
    border:5px #BC8702;
    border-radius: 8px;
    margin: auto;
    width: 20%;
    border-style: double;
    padding: 10px;
    box-shadow: 2px 2px 3px #E9B42F;
}

input {
    border:2px #BC8702;
    border-radius: 8px;
    margin: auto;
    width: 70%;
    border-style: solid;
    padding: 10px;
    box-shadow: 2px 2px 3px #E9B42F;
}

.flex-container {
    float: left;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.photo {
    float: left; 
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    padding: 0 8px;
    float: left; /* puts images in a row for the lightbox */
  
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 900px;
}

  /* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Number text (1/2) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img.demo {
    opacity: 0.7;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
